.loader-wrapper{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
  width: 100%;
}

.loader-animation{
	width: 20px;
	height: 20px;
	display: inline-block;
}

.loader-animation-spinner {
	width: 20px;
  height: 20px;
	margin: 0 auto;
	border-radius: 50%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	box-shadow: 3px 3px 1px rgb(0,0,0);
	animation: cssload-spin 690ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

.loader-text{
	display: inline-block;
}

